/*--------------------------Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap");

h3,
h5,
h6,
#score,
.wins {
  font-family: "Cormorant SC", sans-serif;
  color: #fafafa;
}

h3 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

.factiontext,
.fname {
  color: black;
}

.navbar-nav li a {
  font-size: 30px;
}

.wins,
#score {
  font-size: 35px;
}

/*--------------------------Body*/
body {
  background-color: #75757c;
  padding: 0;
  margin: 0;
  border: 0;
}

/*--------------------------Header*/
.head {
  height: 6em;
}


/*--------------------------Info Line*/
#info {
  margin-top: 50px;
}


/*--------------------------Main Container*/
.main {
  margin: 0;
  padding: 0;
  border: 0;
}

/*--------------------------Game Board*/
.box {
  height: 100px;
  width: 100px;
  background-color: white;
  border: 0px transparent;
  margin: 20px;
  padding: 20px;
}

.board {
  margin: 0 auto;
  margin-top: 5vh;
}

table {
  margin: 0 auto;
  display: table;
}

/*--------------------------Faction Select*/
.select {
  width: 200px;
  background-color: transparent;
  border: 0;
}

.nav-header {
    padding-top: 5vh;
}

.navbar-nav {
  background-color: #fafafa;
  width: 350px;
  height: 580px;
  margin: 0 auto;
  margin-top: 20px;
}



.navbar-nav li img {
  height: 40px;
  width: 40px;
  margin: 0;
  border: 0;
  padding: 0;
}

.navbar-nav li h6 {
  margin: 0;
  margin-top: 8px;
}

#aa, #cha, #eld, #nec, #tau,
#aa::before, #cha::before, #eld::before, #nec::before, #tau::before,
#aa::after, #cha::after, #eld::after, #nec::after, #tau::after {
    border: 0;
    margin: 0;
    padding: 0;
}

#aa:hover {
    background-color: blue;
}

#cha:hover {
    background-color: red;

}

#eld:hover {
    background-color: green;
}

#nec:hover {
    background-color: silver;
}

#tau:hover {
    background-color: orange;
}

.newgame {
    width: 200px;
    background-color: grey;
}

.newgame:hover {
    background-color: grey;
}

/*--------------------------Restart*/
#restart {
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
}

.restart:hover {
  opacity: 0.8;
}

/*------------------------Factions*/
.aa {
    background-image: url('assets/images/aalogo.png');
}

.cha {
    background-image: url('assets/images/chaoslogo.png');
}

.eld {
    background-image: url('assets/images/eldarlogo.png');
}

.nec {
    background-image: url('assets/images/necronslogo.png');
}

.tau {
    background-image: url('assets/images/taulogo.png');
}

.aa, .cha, .eld, .nec, .tau {
  height: 50px;
  width: 50px;
  margin: 0;
  border: 0;
  padding: 0;
}

/*--------------------------Footer*/
.footer {
  margin: 0;
  margin-top: 3em;
  padding: 0;
  border: 0;
  color: #fafafa;
}

/*--------------------------Media Queries*/
@media screen and (min-width: 900px) {
  .main {
    display: flex;
  }
}
