/*--------------------------Fonts & Colors*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap");

h3,
h5,
h6,
.newgame,
#restart,
.navbar-toggle,
#score,
.wins
 {
  font-family: "Cormorant SC", sans-serif;
  
}

h3,
h5,
h6,
#restart,
.navbar-toggle,
#score,
.wins
 {
  color: #fafafa;
}



h3, #restart {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

.factiontext,
.fname,
.navbar-toggle
 {
  color: black;
}

.navbar li a {
  font-size: 30px;
}



/*--------------------------Body*/
body {
  background-color: #75757c;
  padding: 0;
  margin: 0;
  border: 0;
}

/*--------------------------Header*/
.head {
  height: 6em;
}

.head h3 {
   margin: 0 auto;
   margin-top: 15px;
   width: 320px;
}

.head img {
 width: 320px;
}

.infocontainer {
  display: flex;
  flex-direction: column;    
}

/*--------------------------Info Line*/
#info {
  width: 310px;
  margin: 0 auto;
  margin-top: 50px;
}

/*-------------------------Score Counter*/

.scoreboard {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.wins,
#score {
  font-size: 35px;
  
 
}

#score {
 margin: 0; 
 margin-left: -80px;
  
}


/*--------------------------Main Container*/
.main { 
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

.faction {
    display: none;
}

.dropdown-faction {
    order: 1;
}
.scorecount {
    order: 2;
    margin-top: 20px;
}

.board {
    order: 3;
}
/*--------------------------Game Board*/
.box {
  height: 75px;
  width: 75px;
  background-color: white;
  border: 0px transparent;
  margin: 20px;
  
 }

.board {
    width: inherit;
    padding: 0;
    margin: 0;
}

table {
  margin: 0 auto;
  display: table;
}

/*--------------------------Faction Select & Dropbown*/


.select,
#navbar.select {  
  width: 310px;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  height: 65px;   
}

.btn-primary:focus, 
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active.focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn:focus, 
.btn.focus,
.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active.focus,
.show>.btn.dropdown-toggle:focus
 {
    box-shadow: none;
 }

.navbar-toggle {
  padding-top: 0.5vh;
  width: 310px;
  height: 50px;
  background: #fafafa;
  border: 0;
  border-radius: 2px;
  outline: 0; 
  margin: 0 auto;
}

.navbar-toggle:focus, 
.navbar-toggle.focus, 
.navbar-toggle:not(:disabled):not(.disabled):active:focus, 
.navbar-toggle:not(:disabled):not(.disabled).active.focus {
 width: 310px;
 outline: 1px lightgrey;

}


.factiontext {
    padding-top: 0.5vh;
}

.navbar {
  width: 320px;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-evenly;
  list-style: none;
}

.navbar li img, #navbar img {
  height: 40px;
  width: 40px;
  margin: 0;
  border: 0;
  padding: 0;
}

.navbar li h6, #navbar h6 {
  margin: 0;
  margin-top: 8px;
}

#aa:hover, #aa:focus {
   background-color: blue;
  
   
}

#cha:hover, #cha:focus {
    background-color: red;
    
}

#eld:hover, #eld:focus {
    background-color: gold;
}

#nec:hover, #nec:focus {
    background-color: yellowgreen;
}

#tau:hover, #tau:focus {
    background-color: orange;
}

.newgame {
    width: 200px;
    margin: 0 auto;
    background-color: lightgreen;
}


.aa, .cha, .eld, .nec, .tau {
    margin: 5px;
    padding: 0;
    width: 90%;
    height:85%;
}


/*--------------------------Restart*/
#restart {
    width: 310px;
    margin: 0 auto;
    margin-left: 20px;
}


/*--------------------------Footer*/
.footer {
  margin: 0;
  margin-top: 3em;
  padding: 0;
  border: 0;
  bottom: 0;
  color: #fafafa;
}

.fnotes {
    font-size: 12px;
}
/*--------------------------Media Queries*/
@media screen and (min-width: 540px) {
    #restart {
        margin: 0 auto;
    }
}
@media screen and (min-width: 1159px) {
  .main {
    flex-direction: row;
  }

  .head img {
      width: 450px;
      margin-top: 20px;
  }
  
  .infocontainer {
    margin-top: 25px;
    margin-bottom: -30px;
  }
  #info {
      margin-top: 70px;
  }

  .select {
      width: 200px;
  }
 
 .dropdown-faction {
     display: none;
 }

.faction {
     order: 1;
     display: block; 
    
}

.navbar {
    
     height: 580px;
}
 .board {
     order: 2;
 }

.scorecount {
     order: 3;
 }

 .scoreboard {
    background-color: #fafafa;
    height: 320px;
    margin-top: 20px;
    flex-direction: column;
    
 }
#score,
.wins {
  color: black;
}

 #score {
    font-size: 75px;
    margin-left: 0; 
    margin-top: -115px;
  
}

 .faction, .board, .scorecount {
  margin: 0 auto;
  margin-top: 5vh;
}

.box {
  height: 100px;
  width: 100px;
} 

#restart {
  width: 380px;
  padding: 10px;
  margin: 0 auto;
}

.fnotes {
    font-size: 15px;
}
}
